.contact {
    display: flex;
    max-width: 200px;
    border: solid 2px black;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}